/* You can add your own styles here */

.dp-container  {
  .dp-fullstory__list {
  padding-left: 0;
  }
}

.dp-fullstory__sessionid
{
  display: inline-block;
  vertical-align: bottom;
  width: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
